/* line 7, ../src/screen.scss */
#widget_container {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  display: inline-block;
  position: fixed;
  bottom: 2%;
  right: 5%;
  border: 1px solid #c3c3c3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-family: Verdana, Arial;
  font-size: 12px;
  width: 150px;
  color: #5e5e5e;
  background: white;
}
/* line 29, ../src/screen.scss */
#widget_container #widget_kill {
  float: right;
  padding-right: 5px;
  padding-top: 5px;
  cursor: pointer;
  color: #5E5E5E;
  margin: 0;
}
/* line 37, ../src/screen.scss */
#widget_container #widget_question {
  padding-bottom: 0 10px;
  margin: 0 10px;
}
/* line 42, ../src/screen.scss */
#widget_container #widget_answers {
  padding: 0 10px;
  margin: 0 0 10px 0;
}
/* line 45, ../src/screen.scss */
#widget_container #widget_answers li {
  box-shadow: 1px 1px 1px #B3B3B3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #c3c3c3 2px 2px 2px 1px 1px 5px 0;
  -webkit-box-shadow: #c3c3c3 2px 2px 2px 1px 1px 5px 0;
  -o-box-shadow: #c3c3c3 2px 2px 2px 1px 1px 5px 0;
  box-shadow: #c3c3c3 2px 2px 2px 1px 1px 5px 0;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.29, #e6e6e6), color-stop(0.47, #ececec), color-stop(0.77, white));
  background-image: -moz-linear-gradient(center bottom, #e6e6e6 29%, #ececec 47%, white 77%);
  list-style: none;
  color: #009ada;
  padding: 8px;
  margin: 5px 0;
}
/* line 69, ../src/screen.scss */
#widget_container #widget_answers li:hover {
  color: #009ada;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.66, #ececec), color-stop(0.87, #e6e6e6));
  background-image: -moz-linear-gradient(center bottom, white 0%, #ececec 66%, #e6e6e6 87%);
}
/* line 92, ../src/screen.scss */
#widget_container #widget_info {
  background: #dddddd;
  padding: 5px;
  cursor: pointer;
}
/* line 96, ../src/screen.scss */
#widget_container #widget_info #widget_info_detail {
  font-size: 10px;
  display: none;
}
/* line 102, ../src/screen.scss */
#widget_container .hidden {
  display: none;
}
/* line 105, ../src/screen.scss */
#widget_container #widget_thanks {
  padding: 10px;
  color: #009ADA;
  font-weight: bold;
  font-size: 15px;
}
