//SCSS for GA_Widget 
//By @PixelHorror
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/reset";

#widget_container {
    display: inline-block;
    position: fixed;
    bottom: 2%;
    right: 5%;
    border: 1px solid #c3c3c3;
    @include border-radius(5px);
    font-family: Verdana, Arial;
    font-size: 12px;
    width: 150px;
    color: #5e5e5e;

        #widget_kill {
            float: right;
            padding-right: 5px;
            padding-top: 5px;
            cursor: pointer;
            color: #5E5E5E;
            margin: 0;
        }
        #widget_question {
            padding-bottom: 0 10px;    
            margin: 0 10px;
        }

        #widget_answers {
            padding: 0 10px;    
            margin: 0 0 10px 0;
            li {
                @include border-radius(5px);
                @include box-shadow(#c3c3c3 2px 2px 2px);
                border: 1px solid #c3c3c3;
                color: #009ada;
                padding: 8px;
                margin: 5px 0;

                &:hover {
                    color: white; 
                    background: #009ada;
                    border: 1px solid #3D7F7F;
                    cursor: pointer;
                }
            }
        }

        #widget_info {
            background: #dddddd;
            font-weight: bold;
            padding: 5px;
            cursor: pointer;
            #widget_info_detail {
                font-size: 10px;
                display: none;
            }
        }

        .hidden {
            display: none;
        }
        #widget_thanks {
            padding: 10px;
            color: #009ADA;
            font-weight: bold;
            font-size: 15px;
        }
}
